$cards-padding: (
  size: 0px,
);

$theme-colors: (
  color1: rgba(234, 234, 234, 1),
  color2: rgba(74, 25, 66, 1),
  color3: rgba(44, 44, 84, 1),
  color4: rgba(68, 13, 15, 1),
  color5: #899eaf,
  color2a: rgba(74, 25, 66, 0.5),
  color3a: rgba(44, 44, 84, 0.5),
);

$js-colors: (
  cases: #27dbc3,
  deaths: #ff715b,
);

$cases-colors: (
  color1: #ffffff,
  color2: #9CEEE3,
  color3: #75e8d8,
  color4: #4ee1cd,
  color5: #27dbc3,
  color6: #20b4a0,
  color7: #198c7d,
  color8: #126459,
  color9: #0F5047,
);

$deaths-colors: (
  color1: #ffffff,
  color2: #ffa496,
  color3: #ff8a78,
  color4: #ff715b,
  color5: #d15d4b,
  color6: #a3483a,
  color7: #74342a,
  color8: #461f19,
  color9: #2f1511,
);

* {
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background: #16786b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ba5343,
    #16786b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ba5343,
    #16786b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8% 40% 40% 40% 40% 40% 40% 50% 4%;
  grid-template-areas: "header" "chart1" "chart2" "chart3" "chart4" "chart5" "chart6" "map" "footer";
}

/* Header & Footer */

header {
  grid-area: header;
  color: white;
  display: flex;

  .links {
    flex: 1;
    display: none;
    justify-content: flex-start;
    align-items: center;
  }

  .header-title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
  }

  .logout {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
  }

  .fa-stack:hover {
    color: map-get($map: $theme-colors, $key: color2);
    transition: all 0.2s;
  }

  .nav-item {
    color: map-get($map: $theme-colors, $key: color3);
  }

  .links a {
    margin: 0 5px;
    text-decoration: none;
  }
}

footer {
  grid-area: footer;
  background-color: map-get($map: $theme-colors, $key: color3);
  color: white;
  display: flex;

  .links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
  }

  .header-title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
  }

  .logout {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .links a {
    margin: 0 5px;
    text-decoration: none;
  }
}

/* iphone 6, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  header {
    .links {
      display: none;
    }

    .header-title {
      font-size: 18px;
    }

    .logout {
      display: none;
    }

    .links a {
      margin: 0 5px;
      text-decoration: none;
    }
  }
}

/* iphone 6+, 6s+, 7+, 8+ */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  header {
    .links {
      display: none;
    }

    .header-title {
      font-size: 18px;
    }

    .logout {
      display: none;
    }

    .links a {
      margin: 0 5px;
      text-decoration: none;
    }
  }
}

/* iphone X , XS, 11 Pro */

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  header {
    .links {
      display: none;
    }

    .header-title {
      font-size: 18px;
    }

    .logout {
      display: none;
    }

    .links a {
      margin: 0 5px;
      text-decoration: none;
    }
  }
}

/* iphone XR, 11 */

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  header {
    .links {
      display: none;
    }

    .header-title {
      font-size: 18px;
    }

    .logout {
      display: none;
    }

    .links a {
      margin: 0 5px;
      text-decoration: none;
    }
  }
}

/* iphone XS Max, 11 Pro Max */

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  header {
    .links {
      display: none;
    }

    .header-title {
      font-size: 18px;
    }

    .logout {
      display: none;
    }

    .links a {
      margin: 0 5px;
      text-decoration: none;
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  header {


    .header-title {
      font-size: 16px;
    }

    .logout {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .links a {
      margin: 0 5px;
      text-decoration: none;
    }
  }
}

@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  header {

    .header-title {
      font-size: 18px;
    }

    .logout {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .links a {
      margin: 0 5px;
      text-decoration: none;
    }
  }
}

/* Ipdad pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  header {

    .header-title {
      font-size: 20px;
    }

    .logout {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .links a {
      margin: 0 5px;
      text-decoration: none;
    }
  }
}

chart:nth-of-type(1) {
  grid-area: chart1;
  background-color: map-get($map: $theme-colors, $key: color2);
}

chart:nth-of-type(2) {
  grid-area: chart2;
  background-color: map-get($map: $theme-colors, $key: color3);
}

chart:nth-of-type(3) {
  grid-area: chart3;
  background-color: map-get($map: $theme-colors, $key: color2);
}

chart:nth-of-type(4) {
  grid-area: chart4;
  background-color: map-get($map: $theme-colors, $key: color3);
}

chart:nth-of-type(5) {
  grid-area: chart5;
  background-color: map-get($map: $theme-colors, $key: color2);
}

chart:nth-of-type(6) {
  grid-area: chart6;
  background-color: map-get($map: $theme-colors, $key: color3);
}

map {
  grid-area: map;
  background-color: map-get($map: $theme-colors, $key: color2);
  position: relative;
  transition: 0.2 ease-in;
}

table-area {
  display: none;
}

@media only screen and (min-width: 1366px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 28% 28% 28% 3%;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-areas: "header header header header" "chart1 chart2  chart3  chart4" "chart5 table-area   map   map" "chart6 table-area map map" "footer footer footer footer";
  }

  header {
    .links {
      display: flex;
    }

    .header-title {
      font-size: 34px;
    }
  }

  chart:nth-of-type(1) {
    margin-left: map-get($map: $cards-padding, $key: size);
    grid-area: chart1;
  }
  chart:nth-of-type(2) {
    grid-area: chart2;
  }
  chart:nth-of-type(3) {
    grid-area: chart3;
  }
  chart:nth-of-type(4) {
    margin-right: map-get($map: $cards-padding, $key: size);
    grid-area: chart4;
  }
  chart:nth-of-type(5) {
    background-color: map-get($map: $theme-colors, $key: color3);
    margin-left: map-get($map: $cards-padding, $key: size);
    grid-area: chart5;
  }
  chart:nth-of-type(6) {
    background-color: map-get($map: $theme-colors, $key: color2);
    margin-bottom: map-get($map: $cards-padding, $key: size);
    margin-left: map-get($map: $cards-padding, $key: size);
    grid-area: chart6;
  }
  map {
    margin-right: map-get($map: $cards-padding, $key: size);
    margin-bottom: map-get($map: $cards-padding, $key: size);
    grid-area: map;
  }
  table-area {
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: map-get($map: $cards-padding, $key: size);
    display: block;
    grid-area: table-area;
    background-color: map-get($map: $theme-colors, $key: color1);
    padding-bottom: 10px;
    padding: 10px;
  }
  .border-rounded {
    border-radius: 0.25em;
  }
}

.card-expanded-cases,
.card-expanded-bar-cases,
.card-expanded-bar-deaths,
.card-expanded-deaths,
.card-expanded-cases-deaths {
  position: absolute;
  z-index: 1;
  margin-left: 0px;
  margin-top: 6px;
  display: inline-block;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  .fa-expand {
    color: white;
  }
}

.card-expanded-cases,
.card-expanded-bar-cases {
  .fa-stack:hover {
    color: map-get($map: $js-colors, $key: cases);
    transition: all 0.2s;

    .fa-expand {
      color: black;
    }
  }
}

.card-expanded-bar-deaths,
.card-expanded-deaths,
.card-expanded-cases-deaths {
  .fa-stack:hover {
    color: map-get($map: $js-colors, $key: deaths);
    transition: all 0.2s;
  }
}

/* Modals */

#casesLineModal,
#casesBarModal {
  .modal-header {
    background-color: map-get($map: $theme-colors, $key: color3);
    color: white;
  }
  .modal-footer {
    background-color: map-get($map: $theme-colors, $key: color3);
    color: white;
  }

  .modal-content {
    border: 3px solid map-get($map: $theme-colors, $key: color2);
    background-color: map-get($map: $theme-colors, $key: color2);
  }

  .close-modal {
    background-color: map-get($map: $js-colors, $key: deaths);
    color: white;
  }

  .close-modal:hover {
    border-color: white;
  }
}

#deathsLineModal,
#deathsBarModal,
#casesdeathsBarModal {
  .modal-header {
    background-color: map-get($map: $theme-colors, $key: color2);
    color: white;
  }
  .modal-footer {
    background-color: map-get($map: $theme-colors, $key: color2);
    color: white;
  }

  .modal-content {
    border: 3px solid map-get($map: $theme-colors, $key: color3);
    background-color: map-get($map: $theme-colors, $key: color3);
  }

  .close-modal {
    background-color: map-get($map: $js-colors, $key: cases);
    color: black;
  }

  .close-modal:hover {
    border-color: rgba(255, 255, 255, 1);
  }
}

/* The Modal (background) */

.modal-header {
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
}

.modal-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  /* align horizontal */
  align-items: flex-end;
  /* align vertical */
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 999999;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-body {
  height: 600px;
}

/* Modal Content/Box */

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.25em;
}

.close-modal {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 0.25em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}


.shadow-custom {
  -webkit-box-shadow: 6px 7px 23px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 7px 23px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 7px 23px -4px rgba(0, 0, 0, 0.75);
}


/* Leaflet */

#mapid {
  height: 100%;
}

.leaflet-container {
  background-color: rgba(255, 0, 0, 0);
}


/* Slider */

.slider {
  z-index: 999999 !important;
  position: absolute !important;
  bottom: 0px;
  // bottom: 50px;
  width: 300px !important;
  color: white;
  margin: 10px;
  background-color: map-get($map: $theme-colors, $key: color2a);
  padding: 20px;
  border-radius: 0.25em;
  line-height: 35px;

  h3 {
    margin: 0px;
  }

  .slider-info {
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .slider-range {
    padding: 10px;
  }
}

.noUi-handle {
  border: 0px !important;
  border-radius: 0.25em !important;
  background: map-get($map: $theme-colors, $key: color1) !important;
  cursor: move !important;
  box-shadow: none !important;
}

.noUi-connect {
  background: map-get($map: $js-colors, $key: cases) !important;
}

.noUi-target {
  background: white !important;
  border-radius: 0.25em !important;
  border: 0px solid #d3d3d3 !important;
  box-shadow: none !important;
}


/* Toggle */
/* The switch - the box around the slider */
/*Courtesy - http://doodlenerd.com/html-control/css-flip-switch-generator*/
.flipswitch {
  position: relative;
  width: 109px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.flipswitch input[type="checkbox"] {
  display: none;
}
.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 4px;
}
.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  -moz-transition: margin 0.3s ease-in 0s;
  -ms-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.flipswitch-inner:before,
.flipswitch-inner:after {
  float: left;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 24px;
  font-size: 15px;
  color: white;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.flipswitch-inner:before {
  content: "Cases";
  padding-left: 15px;
  background-color: map-get($map: $js-colors, $key: cases);
  color: black;
}
.flipswitch-inner:after {
  content: "Deaths";
  padding-right: 15px;
  background-color: map-get($map: $js-colors, $key: deaths);
  color: #ffffff;
  text-align: right;
}
.flipswitch-switch {
  width: 28px;
  margin: -2px;
  background: map-get($map: $theme-colors, $key: color1);
  border-radius: 4px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 83px;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: 0;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 0;
}

.flipswitch-pie {
  z-index: 9999;
  position: relative;
  width: 109px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.flip-pie {
  margin: 10px;
  position: absolute;
}

.flipswitch-pie input[type="checkbox"] {
  display: none;
}
.flipswitch-pie-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 4px;
}
.flipswitch-pie-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  -moz-transition: margin 0.3s ease-in 0s;
  -ms-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.flipswitch-pie-inner:before,
.flipswitch-pie-inner:after {
  float: left;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 24px;
  font-size: 15px;
  color: white;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.flipswitch-pie-inner:before {
  content: "Cases";
  padding-left: 15px;
  background-color: map-get($map: $js-colors, $key: cases);
  color: black;
}
.flipswitch-pie-inner:after {
  content: "Deaths";
  padding-right: 15px;
  background-color: map-get($map: $js-colors, $key: deaths);
  color: #ffffff;
  text-align: right;
}
.flipswitch-pie-switch {
  width: 28px;
  margin: -2px;
  background: map-get($map: $theme-colors, $key: color1);
  //   border: 0px solid #999999;
  border-radius: 4px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 83px;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.flipswitch-pie-cb:checked + .flipswitch-pie-label .flipswitch-pie-inner {
  margin-left: 0;
}
.flipswitch-pie-cb:checked + .flipswitch-pie-label .flipswitch-pie-switch {
  right: 0;
}

/* Tool Tips */

.cases-1-tool-tips,
.cases-2-tool-tips,
.cases-3-tool-tips,
.cases-4-tool-tips,
.cases-5-tool-tips,
.cases-6-tool-tips,
.cases-7-tool-tips,
.cases-8-tool-tips,
.cases-9-tool-tips {
  color: black;
  border: 1px solid map-get($map: $cases-colors, $key: color1);
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  opacity: 0.85;
}


.leaflet-tooltip-left.cases-1-tool-tips:before,
.leaflet-tooltip-left.cases-2-tool-tips:before,
.leaflet-tooltip-left.cases-3-tool-tips:before,
.leaflet-tooltip-left.cases-4-tool-tips:before,
.leaflet-tooltip-left.cases-5-tool-tips:before,
.leaflet-tooltip-left.cases-6-tool-tips:before,
.leaflet-tooltip-left.cases-7-tool-tips:before,
.leaflet-tooltip-left.cases-8-tool-tips:before,
.leaflet-tooltip-left.cases-9-tool-tips:before {
  border-left-color: map-get($map: $cases-colors, $key: color1);
}

.leaflet-tooltip-right.cases-1-tool-tips::before,
.leaflet-tooltip-right.cases-2-tool-tips:before,
.leaflet-tooltip-right.cases-3-tool-tips::before,
.leaflet-tooltip-right.cases-4-tool-tips:before,
.leaflet-tooltip-right.cases-5-tool-tips:before,
.leaflet-tooltip-right.cases-6-tool-tips::before,
.leaflet-tooltip-right.cases-7-tool-tips:before,
.leaflet-tooltip-right.cases-8-tool-tips::before,
.leaflet-tooltip-right.cases-9-tool-tips:before {
  border-right-color: map-get($map: $cases-colors, $key: color1);
}

.cases-1-tool-tips {
  background: map-get($map: $cases-colors, $key: color1);
  
}
.cases-2-tool-tips {
  background: map-get($map: $cases-colors, $key: color2);

}
.cases-3-tool-tips {
  background: map-get($map: $cases-colors, $key: color3);

}

.cases-4-tool-tips {
  background: map-get($map: $cases-colors, $key: color4);

}

.cases-5-tool-tips {
  background: map-get($map: $cases-colors, $key: color5);
  color: white;
}
.cases-6-tool-tips {
  background: map-get($map: $cases-colors, $key: color6);
  color: white;
}

.cases-7-tool-tips {
  background: map-get($map: $cases-colors, $key: color7);
  color: white;
}
.cases-8-tool-tips {
  background: map-get($map: $cases-colors, $key: color8);
  color: white;
}

.cases-9-tool-tips {
  background: map-get($map: $cases-colors, $key: color9);
  color: white;
}


.deaths-1-tool-tips,
.deaths-2-tool-tips,
.deaths-3-tool-tips,
.deaths-4-tool-tips,
.deaths-5-tool-tips,
.deaths-6-tool-tips,
.deaths-7-tool-tips,
.deaths-8-tool-tips,
.deaths-9-tool-tips {
  color: black;
  border: 1px solid map-get($map: $deaths-colors, $key: color1);
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  opacity: 0.85;
}

.leaflet-tooltip-left.deaths-1-tool-tips:before,
.leaflet-tooltip-left.deaths-2-tool-tips:before,
.leaflet-tooltip-left.deaths-3-tool-tips:before,
.leaflet-tooltip-left.deaths-4-tool-tips:before,
.leaflet-tooltip-left.deaths-5-tool-tips:before,
.leaflet-tooltip-left.deaths-6-tool-tips:before,
.leaflet-tooltip-left.deaths-7-tool-tips:before,
.leaflet-tooltip-left.deaths-8-tool-tips:before,
.leaflet-tooltip-left.deaths-9-tool-tips:before {
  border-left-color: map-get($map: $deaths-colors, $key: color1);
}

.leaflet-tooltip-right.deaths-1-tool-tips::before,
.leaflet-tooltip-right.deaths-2-tool-tips:before,
.leaflet-tooltip-right.deaths-3-tool-tips::before,
.leaflet-tooltip-right.deaths-4-tool-tips:before,
.leaflet-tooltip-right.deaths-5-tool-tips:before,
.leaflet-tooltip-right.deaths-6-tool-tips::before,
.leaflet-tooltip-right.deaths-7-tool-tips:before,
.leaflet-tooltip-right.deaths-8-tool-tips::before,
.leaflet-tooltip-right.deaths-9-tool-tips:before {
  border-right-color: map-get($map: $deaths-colors, $key: color1);
}

.deaths-1-tool-tips {
  background: map-get($map: $deaths-colors, $key: color1);
}

.deaths-2-tool-tips {
  background: map-get($map: $deaths-colors, $key: color2);
}


.deaths-3-tool-tips {
  background: map-get($map: $deaths-colors, $key: color3);
}

.deaths-4-tool-tips {
  background: map-get($map: $deaths-colors, $key: color4);

}

.deaths-5-tool-tips {
  background: map-get($map: $deaths-colors, $key: color5);
  color: white;
}

.deaths-6-tool-tips {
  background: map-get($map: $deaths-colors, $key: color6);
  color: white;
}

.deaths-7-tool-tips {
  background: map-get($map: $deaths-colors, $key: color7);
  color: white;
}

.deaths-8-tool-tips {
  background: map-get($map: $deaths-colors, $key: color8);
  color: white;
}

.deaths-9-tool-tips {
  background: map-get($map: $deaths-colors, $key: color9);
  color: white;
}

/* table formatting */

.fa-sort {
  color: map-get($map: $theme-colors, $key: color2);
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
  vertical-align: middle;
  color: #212529;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 0.75rem;
  border-top: 1px solid map-get($map: $theme-colors, $key: color2);
  border-collapse: collapse;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid map-get($map: $theme-colors, $key: color2);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.table thead tr th:hover {
  background-color: map-get($map: $theme-colors, $key: color3);
  cursor: pointer;

  .fa-sort {
    color: white;
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table thead th {
  color: #fff;
  background-color: #999baf;
  border-color: #454d55;
}

.table .table-selected {
  background-color: map-get($map: $theme-colors, $key: color2);

  .fa-sort {
    color: white;
  }
}

/* Apex Charts */
.apexcharts-canvas.apexcharts-zoomable .hovering-zoom {
  cursor: default !important;
}

.apexcharts-zoom-icon,
.apexcharts-zoomin-icon,
.apexcharts-zoomout-icon,
.apexcharts-reset-icon,
.apexcharts-pan-icon,
.apexcharts-selection-icon,
.apexcharts-menu-icon,
.apexcharts-toolbar-custom-icon {
  height: auto !important;
  width: auto !important;
}

.cases-download,
.deaths-download,
.casesdeaths-download {
  color: white;
}

.cases-download:hover {
  color: map-get($map: $js-colors, $key: cases);
}

.deaths-download:hover,
.casesdeaths-download:hover {
  color: map-get($map: $js-colors, $key: deaths);
}

.legend {
  line-height: 24px;
  color: white;
  font-family: "Open Sans";
  font-size: 16px;
  background-color: map-get($map: $theme-colors, $key: color2a);
  padding: 20px;
}
.legend i {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 8px;
}

