/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {


    header .header-title {
        font-size: 12px;
    }

    header .logout {
        display: none;
    }

    .card-expanded-cases,
    .card-expanded-bar-cases,
    .card-expanded-bar-deaths,
    .card-expanded-deaths,
    .card-expanded-cases-deaths,
    .slider,
    .legend {
      display: none;
    }

    .flip-pie {
        display: none;
    }
  
    footer .header-title, footer .links{
        font-size: 12px;
    }
  
    footer .logout {
        display: none
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .slider,
    .legend {
      display: none !important;
    }

}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {

  
     .flip-pie {
       bottom: 0;
       right: 0;
     }

    .card-expanded-cases,
    .card-expanded-bar-cases,
    .card-expanded-bar-deaths,
    .card-expanded-deaths,
    .card-expanded-cases-deaths,
    .slider,
    .legend {
      display: none;
    }

    .flip-pie {
        display: block;
    }
  
    footer .header-title, footer .links{
        font-size: 12px;
    }
  
    footer .logout {
        display: none
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

    .slider,
    .legend {
      display: block;
    }

    .slider {
        width: auto !important;
        line-height: auto;
        padding: 0px;
    }

    .legend {
        padding: 0px
    }

    
    body {
        grid-template-columns: 100%;
        grid-template-rows: 8% 90% 90% 90% 90% 90% 90% 90% 4%;
        grid-template-areas: "header" "chart1" "chart2" "chart3" "chart4" "chart5" "chart6" "map" "footer";
      }
}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    .card-expanded-cases,
    .card-expanded-bar-cases,
    .card-expanded-bar-deaths,
    .card-expanded-deaths,
    .card-expanded-cases-deaths,
    .slider,
    .legend {
      display: none;
    }
  
    footer .header-title, footer .links{
        font-size: 12px;
    }
  
    footer .logout {
        display: none
    }
}



/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .card-expanded-cases,
  .card-expanded-bar-cases,
  .card-expanded-bar-deaths,
  .card-expanded-deaths,
  .card-expanded-cases-deaths,
  .slider,
  .legend {
    display: none;
  }

  footer .header-title, footer .links{
      font-size: 12px;
  }

  footer .logout {
      display: none
  }


  .modal-body {
    height: 500px;
  }
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

    .slider,
    .legend {
      display: block;
    }

    .slider {
        width: auto !important;
        line-height: auto;
        padding: 0px;
    }

    .legend {
        padding: 0px
    }

    body {
        grid-template-columns: 100%;
        grid-template-rows: 8% 90% 90% 90% 90% 90% 90% 90% 4%;
        grid-template-areas: "header" "chart1" "chart2" "chart3" "chart4" "chart5" "chart6" "map" "footer";
      }
}


/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    header .header-title {
        font-size: 18px;
    }

    body {
        grid-template-columns: 100%;
        grid-template-rows: 8% 90% 90% 90% 90% 90% 90% 80% 4%;
        grid-template-areas: "header" "chart1" "chart2" "chart3" "chart4" "chart5" "chart6" "map" "footer";
      }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    header .header-title {
        font-size: 18px;
    }

    body {
        grid-template-columns: 100%;
        grid-template-rows: 8% 90% 90% 90% 90% 90% 90% 80% 4%;
        grid-template-areas: "header" "chart1" "chart2" "chart3" "chart4" "chart5" "chart6" "map" "footer";
      }

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    header .header-title {
        font-size: 18px;
    }

    body {
        grid-template-columns: 100%;
        grid-template-rows: 8% 90% 90% 90% 90% 90% 90% 80% 4%;
        grid-template-areas: "header" "chart1" "chart2" "chart3" "chart4" "chart5" "chart6" "map" "footer";
      }

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .modal-content {
      width: 80%;
    }

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

    header .header-title {
        font-size: 18px;
    }

    body {
        grid-template-columns: 100%;
        grid-template-rows: 8% 90% 90% 90% 90% 90% 90% 80% 4%;
        grid-template-areas: "header" "chart1" "chart2" "chart3" "chart4" "chart5" "chart6" "map" "footer";
      }
}

@media all and (max-width: 30em) {
  .close-modal {
    display: block;
    margin: 0.2em auto;
  }
}